.productItem-parent .productItem-container .items-remaining {
  font-size: 1.5em; }

.productItem-parent .productItem-container .checkout-rate {
  font-size: 1.5em; }

.productItem-parent .productItem-container .price {
  font-size: 1.7em; }
