@mixin translateIn3d($x:-50%, $y:-50%, $z:0) {
  top:50%;
  left:50%;
  transform: translate3d($x, $y, $z);
}

@mixin customBg($url:'') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
