.productItem-parent {
  .productItem-container {
    .product {

    }
    .title {

    }
    .manufactured {

    }
    .best-before {

    }
    .items-remaining {
      font-size: 1.5em;
    }
    .checkout-rate {
      font-size: 1.5em;
    }
    .price {
      font-size: 1.7em;
    }
  }
}
