@import './_mixins.scss';
@import './_variables.scss';
#search-parent {
  position: absolute;
  @include translateIn3d(-50%, -200%);
  #search-container {
    #store-logo-container {
      position: absolute;
      @include translateIn3d(-50%, -138%);
      width: 140px;
      height: 120px;
      background-color: red;
      border-radius: 50%;
      top: 0;
      #store-logo {
        width:100%;
        height:100%;
        @include customBg('../Shared/images/spar.jpg');
      }
    }
    #search-field {
      box-shadow: 0.2px 0.2px 0.5px $greyShade;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(290px, -55%);
        width: 30px;
        height: 29px;
        font-size: 3em;
        display: inline-table;
        content: '\1F50D';
      }
      #text-field {
        width:665px;
        outline-color: $greyShade;
        height:50px;
        font-size: 1.8em;
        padding-left:20px;
      }
    }
  }
}
