$white: #fff;
$black: #000;
$greyShade: #e3cece;

$mobi320: "only screen and (min-width : 320px)";
$mobi480: "only screen and (min-width : 480px)";
$mobi768: "only screen and (min-width : 768px)";
$mobi992: "only screen and (min-width : 992px)";
$mobi1200:"only screen and (min-width : 1200px)";
