.productItem-parent {
  .title {
    color: #444;
  }
  .productItem-container {

    background-color: #eee;
    cursor: pointer;
    width:100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.4s;
    &.active, &:hover {
      background-color: #ddd;
    }
    .product {
      padding: 0 18px;
      background-color: white;
      visibility: hidden;
      opacity: 0;
      transition: all 2s linear;
      display: none;
    }
    .active {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    .manufactured {

    }
    .best-before {

    }
    .items-remaining {
      font-size: 1.5em;
    }
    .checkout-rate {
      font-size: 1.5em;
    }
    .price {
      font-size: 1.7em;
    }
  }
}
