.food-parent {
  .food-container {
    .food-item {
      padding: 10px 0;
      span {

      }
    }
  }
}
#food-row {
  top: 50%;
  left: 50%;
  transform: translate(-650px, -195px);
  position: absolute;
  display: block;
}
