@import "./_mixins.scss";
@import "../Generated-CSS/Search.css";

#product-page {
  height: 100%;
  background-color: grey;
  position: absolute;
  width: 100%;
  transition: .5s all;
  top:0;
  bottom: 0;
  #back-home {
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #508cb5;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px black;
    @include translateIn3d;
    top: 8.5%;
    z-index: 9999;
  }
}
#found-foods {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 215px;
  z-index: 9999;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
