@import "./_mixins.scss";

#text-field {
  position: absolute;
  width: 20em;
  height: 2.2em;
  outline: none;
  transition: .5s all;
  padding: 0 10px;
  @include translateIn3d;
  top: 20%;
  &:after {
    content: '\1F50D';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
  }
}
#suggestions {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  margin: 5px 0;
  top: 27vh;
  background-color: rgba(125, 125, 125, .4);
  transition: .5s all;
  .store-name {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4px;
    &:after {
      content: '';
      width: 40px;
      height: 1px;
      background-color: red;
      display: block;
      margin-top:5px;
      @include translateIn3d;
      position: relative;
    }
  }
  .store-location {
    font-family: 'Open Sans', sans-serif;
    font-size: .85em;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      @include translateIn3d;
      position: absolute;
      top: 52px;
    }
  }
}
